$fontSrc: '../fonts/'
$fntName: (Montserrat-ExtraBold 800), (Montserrat-Regular 400)
	
$ff: 'Montserrat'
@each $fnt, $fntw in $fntName 
	@font-face 
		font-family: $ff
		font-style: normal
		font-weight: #{$fntw}
		font-display: auto
		src: local($ff), local($ff), url($fontSrc+'#{$fnt}.woff') format('woff'), url($fontSrc+'#{$fnt}.eot') format('eot'), url($fontSrc+'#{$fnt}.ttf') format('ttf')
		

