@@include('_header.html')
<script src="./assets/lib/jquery.min.js"></script>
@@include('_preloader.html')
<div class="page-bg" id="pg-bg" style="background-image: url('./assets/img/bg.jpg')"></div> 
<main class="page-content">
	<div>
		<section>
			<a href="https://www.fonbet.com/#!/products/registration?utm_content=LP-auto&utm_target=logo" target="_blank" rel="noopener noreferrer"><img src="./assets/img/logo.png" alt="" class="page-logo"></a>
			<p class="text--3">
				ПОБЕДА В ТВОИХ РУКАХ!
			</p>
			<hgroup>
				<span class="text--0" data-content="TOPIC"></span>
			</hgroup>
		</section>
		<article class="page-box">
			<div class="page-box__inner">
				<section class="page-col">
					<figure id="teamLogo2">
						<img data-content="LOGO2" class="box-pix">
						<figcaption><span data-content="TEAM2" class="text--6"></span>
						</figcaption>
					</figure>
				</section>
				<section class="page-col">
					<div>
						<p class="text--9" data-content="STARTTIME"></p>
						<p class="text--8" data-content="STARTDATE"></p>
						<div class="currency">
							<div>
								<span data-content="QUOTE1" class="text--1" id="team1"></span>
								<b>П1</b>
							</div> <b>:</b>
							<div>
								<span data-content="QUOTE2" class="text--1" id="team2"></span>
								<b>П2</b>
							</div>
						</div>
					</div> 
				</section> 
				<section class="page-col"> 
					<figure id="teamLogo1"> <img
						data-content="LOGO1" class="box-pix"> <figcaption><span  data-content="TEAM1"
							class="text--6"></span> </figcaption> 
						</figure> 
					</section> 
				</div>
			</article>
			<section
			class="page-row"> <div> <p class="text--4"> <b>БОНУC</b> <span>€50</span> </p> <p
				class="text--5"> за 1й депозит</p>

				<a href="https://www.fonbet.com/#!/products/registration?utm_content=LP-auto&utm_target=btn" class="btn--bg shine">
					<b>Сделать ставку</b>
				</a>

				<p rel="modal" data-toggle="modal" class="text--policy">
					правила и условия
				</p>
			</div>
		</section>
	</div>
</main>
@@include('_particles.html')
@@include('_modal.html')
@@include('_footer.html')
<script src="./assets/js/autolands.js"></script>