@@include('_header.html')
<script src="./assets/lib/jquery.min.js"></script>
@@include('_preloader.html')
<div class="page-bg" id="pg-bg" style="background-image: url('./assets/img/bg.jpg')"></div> 
<main class="page-content">
	
	<article class="page-row">
		<section class="page-col">
			<hgroup>
				<p class="text--2">
					<span data-content="STARTDATE"></span>,
					<span data-content="STARTTIME"></span>
				</p>
				<span class="text--0" data-content="TOPIC"></span>
			</hgroup>
			<figure>
				<img data-content="LOGO2" class="box-pix" id="teamLogo2">
				<figcaption><span data-content="TEAM2" class="text--6"></span>
				</figcaption>
			</figure>
			<div>
				<span data-content="QUOTE1" class="text--1" id="team1"></span>VS<span data-content="QUOTE2" class="text--1" id="team2"></span>
			</div>
			<figure>
				<figcaption><span  data-content="TEAM1" class="text--6"></span>
				</figcaption>
				<img data-content="LOGO1" class="box-pix" id="teamLogo1">
			</figure>
		</section>
		<section class="page-col">
			<div>
				<a href="https://www.fonbet.com/#!/products/registration?utm_content=LP-auto&utm_target=logo" target="_blank" rel="noopener noreferrer"><img src="./assets/img/logo.png" alt="" class="page-logo"></a>
				<p class="text--3">
					ПОБЕДА В ТВОИХ РУКАХ!
				</p>
			</div>

			<p class="text--4">
				€50
			</p>
			<p class="text--5">
				Бонус за 1<small>й</small> депозит
			</p>
			<a href="https://www.fonbet.com/#!/products/registration?utm_content=LP-auto&utm_target=btn" class="btn--bg shine">
				Сделать ставку
			</a>

			<p rel="modal" data-toggle="modal" class="text--policy">
				правила и условия
			</p>

		</section>
	</article>
	<section class="page-row">
		<div class="page-col">
			<p class="text--7">
				<span>1.</span>  Зарегистрируйся
			</p>
		</div>
		<span class="icon"></span>
		<div class="page-col">
			<p class="text--7">
				<span>2.</span>  Внеси депозит
			</p>
		</div>
		<span class="icon"></span>
		<div class="page-col">
			<p class="text--7">
				<span>3.</span> Получи бонус
			</p>
		</div>
	</section>
</main>
@@include('_particles.html')
@@include('_modal.html')
@@include('_footer.html')
<script src="https://text.fonstats.ru/texts/autolands.js"></script>