@import 'sprite'

.icon
	&-wrap
		+flex(wrap, center, space-between, flex)
		max-width: 500px	
		margin: 0 auto
		@media only screen and (max-width: 480px)
			justify-content: space-between
		[class*=icon--]
			display: inline-block
			vertical-align: middle
			font-size: 0
			cursor: pointer
			transition: all 0.4s ease-in-out
			transform: scale(0.8)
			&:hover
				opacity: 0.5
			@media only screen and (max-width: 480px)
				margin: 5px
				transform: scale(0.5)
	&--1
		+sprite($i1)
	&--2
		+sprite($i2)
	&--3
		+sprite($i3)
	&--4
		+sprite($i4)
	&--5
		+sprite($i5)

.btn
	position: relative
	display: inline-block
	width: auto
	text-align: center
	text-transform: uppercase
	transition: background 0.45s ease-in-out
	white-space: nowrap
	&:hover
		background-color: rgba($white, 0.1)
	&--bg
		@extend .btn
		background-color: $main
		color: $white
		+font(36.5, 36.5, 100)
		+font(25, 25, 400)
		letter-spacing: 1px
		padding: 14px 18px
		overflow: hidden
		position: relative
		@extend .row--3
		&::after
			content: ''
			position: absolute
			height: 400px
			width: 20px
			background: white
			top: -100px
			left: -200px
			display: block
			opacity: 0.8
			box-shadow: 0px 0px 20px 10px white
			transform: rotate(45deg)
			transition: all 0.8s ease
			//animation: shine 1.5s ease-in-out infinite alternate

	&--sm
		padding: 10px 20px
		border-radius: 4px
		background: $main
		transition: all 0.45s ease-in-out
		&:hover
			background-color: rgba($white, 0.1)

.pic
	display: block
	max-width: 100%
	width: 100%
	//max-height: 800px
	object-fit: contain
	margin: 20px auto
	&--abs
		+ps(absolute, 0, 0, auto)
		height: 100%
[id*="player"]
	width: 100%
[id*="scene"]
	position: relative
	max-height: 650px
	max-width: 850px
	@extend .row--8

.icon
	display: block
	width: 15px
	height: 30px
	background: transparent url('../img/arrow.svg') no-repeat 50%/contain
	@media only screen and (max-width: 960px)	
		display: none !important