@import 'row'
[class*="text"]
	text-transform: uppercase
hgroup
	width: 100%
	position: relative
	margin: 30px auto 20px
	z-index: 1
	@media only screen and (max-width: 750px)
		order: 0

.text
	&--0, &--1, &--2
		text-align: center
		text-transform: uppercase
	&--0
		color: $white
		+font(18, 18, 100)
		margin: 10px auto 25px
		width: 90%
		max-width: 300px
		display: block
	&--1
		color: $main
		+font(24, 24, 700)
		margin: 15px  10px
		padding: 10px 20px
		display: inline-block
		background-color: $black
	&--2
		+font(28, 28, 700)	
		display: block
		color: $main
	&--3
		margin-bottom: 0
	&--4
		color: $main
		+font(165, 165, 900)
		letter-spacing: 3.68px
		margin: 15px auto
		@media only screen and(max-width: 480px)
			font-size: 8rem
	&--5
		letter-spacing: 2px
		font-size: 25px
		+font(54, 54, 800)
		max-width: 450px
		@media only screen and(max-width: 480px)
			font-size: 5vmax
	&--6
		+font(20, 20, 700)
		text-transform: lowercase
		display: inline-block
		vertical-align: middle
		margin: 20px 10px
		&:first-letter
			text-transform: uppercase
	&--7
		+font(18, 18, 400)
		font-size: 18px
		letter-spacing: 1px
		white-space: nowrap
		@extend .row--4
		span
			color: $main
			font-weight: 800
		
	&--policy
		+font(14, 14, 400)
		letter-spacing: 2px
		text-decoration: underline
		cursor: pointer
		width: 100%
		margin: 0 auto 30px
		@media only screen and (max-width: 750px)
			margin-bottom: 50px
