@import 'animation'
@import 'fonts'
@import 'vars'
@import 'text'
@import 'btn'



%scroll	
	&::-webkit-scrollbar
		width: 10px
		height: 10px
	&::-webkit-scrollbar-track
		-webkit-box-shadow: inset 0 0 6px rgba($black, 0.3)
	&::-webkit-scrollbar-thumb
		background: $main

*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: $ffMain, $ffBack
	user-select: none
	&::selection
		background-color: $main
		color: $white
body
	+theme(dark)
	display: flex
	flex-direction: column
	min-height: 100vh
	position: relative
	overflow: hidden
	overflow-y: scroll
	@extend %scroll

a, a:hover
	color: inherit
	text-decoration: none

section
	position: relative
	z-index: 1

article
	width: 100%
	@media only screen and (max-width: 750px)
		order: -1		
.page
	&-bg, &-bg > img
		+ps(absolute, 0, 0, auto)
		width: 100%
		height: 100%
		background-size: cover
		background-position: 50%
		//filter: contrast(1.2)
		background-position: 50% 100%
	&-bg > img
		display: block
		object-fit: cover
	&-logo 
		margin: 10px auto 5px
		height: 48px
		width: auto
		object-fit: contain
		display: block
	&-content
		+flex(wrap, center, center, flex)
		flex: 1 0 auto
		position: relative
		color: $white
		//background-image: url("../img/bg.jpg")
		// background-repeat: no-repeat
		// background-size: cover
		// background-position: 50% 100%
		text-align: center
		overflow: hidden
		&::after
			content: ""
			+ps(absolute, 0, 0, auto)
			width: 100%
			height: 100%
			background: rgba($black, 0.5) url("../img/bg0.png") no-repeat 50%/cover

	&-container
		margin-left: auto
		margin-right: auto
		z-index: 1
		position: relative
	&-footer
		padding: 15px 20px
		z-index: 1
		background-color: $black
	&-row
		+flex(wrap, center, space-around, flex)
		max-width: 960px
		width: 100%

		&:first-child
			margin-top: auto
	&-col
		z-index: 1
		@media only screen and (max-width: 750px)
			max-width: 100%
			article &:nth-child(2)
				order: -1


figure
	background: rgba($black, 0.25)
	box-shadow: 0 5px 20px 0 rgba($black, 0.8)
	border-radius: 5px
	transition: transform 0.4s ease-in-out
	cursor: pointer
	min-width: 250px
	height: 100%
	display: block
	&:hover
		transform: scale(1.1)
	img
		display: block
		margin: 0px auto 
		padding: 30px
		max-width: 150px
figcaption
	background-color: rgba($black, 0.8)
	color: $white
	padding: 0 20px
	white-space: nowrap


#team1, #team2, #teamLogo1, #teamLogo2
	animation: anm 1s ease-in-out infinite alternate
#team2, #teamLogo2
	animation-direction: alternate-reverse	