<!-- Begin Footer -->
<footer class="page-footer">
	<div class="icon-wrap">
		<div class="icon--1"></div>
		<div class="icon--2"></div>
		<a class="icon--3" href="https://www.fonbet.com/#!/apps/ios?utm_content=LP_auto&utm_target=icon-app" target="_blank" rel="noopener noreferrer"></a>
		<a class="icon--4" href="https://www.fonbet.com/#!/apps/android?utm_content=LP_auto&utm_target=icon-app" target="_blank" rel="noopener noreferrer"></a>
		<a href="#" data-toggle="modal"><div class="icon--5"></div></a>
	</div>
</footer>
<!-- End Footer -->

<!-- Begin JS -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script> -->


<!-- <script src="./assets/lib/jquery.MultiLanguage.min.js"></script> -->

<!-- <script>
	$(document).ready(function(){
		$.MultiLanguage('./assets/js/language.json');
	})
</script> -->

<!-- End JS -->
</body>
</html>