<!-- Begin modal -->
<main class="modal-overlay">
	<articel class="modal-wrap">
		<section class="modal">
			<header class="modal-header">
				<h3>правила и условия</h3>
				<span class="modal-close" role="button" title="Close">+</span>
			</header>
			<div class="modal-content">
				<p>
					<span>1.</span> Минимальный возраст для регистрации, и участия в бонусе на первый депозит от fonbet.com - 18+.
				</p>
				<p>
					<span>2.</span> Fonbet предлагает 100% бонус от суммы первого депозита (до 50 евро). 
				</p>
				<p>
					<span>3.</span> Срок действия бонусного предложения: 00:00 GMT 01 августа 2019 по 23:59 GMT 31 декабря 2019 года.
				</p>
				<p>
					<span>4.</span> Минимальное пополнение счета для получения бонуса на первый депозит - 5 Евро (или эквивалент в Вашей валюте).
				</p>
				<p>
					<span>5.</span> Максимальное значение бонуса - 50 Евро (или эквивалент в Вашей валюте)
				</p>
				<p>
					<span>6.</span> Для получения бонуса, необходимо отыграть сумму первого депозита 5-ти кратном размере ставками типа экспресс. В каждом экспрессе должно быть не менее 3-х событий. Общий коэффициент экспресса должен быть 1.5 или выше.
				</p>
				<p>
					<span>7.</span> Расходные ставки или отмененные ставки не участвуют в бонусном обороте. 
				</p>
				<p>
					<span>8.</span> Fonbet выделяет 30 дней для отыгрыша полного бонуса. Отчет начинается с момента внесения первого депозита.
				</p>
				<p>
					<span>9.</span> Бонус выдается пошагово, согласно таблице ниже: 
				</p>
				<div class="table-wrap">
					<table class="table">
						<thead>
							<tr>
								<th>
									Сумма депозита (Евро)
								</th>
								<th>
									Количество фрибетов номиналом €5
								</th>
								<th>
									Количество фрибетов номиналом €10
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>5</td>
								<td>1</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>5,1 - 10</td>
								<td>2</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>10,1 - 15</td>
								<td>3</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>15,1 - 20</td>
								<td>4</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>20,1 - 25</td>
								<td>1</td>
								<td>2</td>
							</tr>
							<tr>
								<td>25,1 - 30</td>
								<td>2</td>
								<td>2</td>
							</tr>
							<tr>
								<td>30,1 - 35</td>
								<td>3</td>
								<td>2</td>
							</tr>
							<tr>
								<td>35,1 - 40</td>
								<td>2</td>
								<td>3</td>
							</tr>
							<tr>
								<td>40,1 - 45</td>
								<td>3</td>
								<td>3</td>
							</tr>
							<tr>
								<td>45,1 - 50</td>
								<td>2</td>
								<td>4</td>
							</tr>
						</tbody>
					</table>
				</div>		
				<p>
					<span>10.</span> Предложение не может быть использовано в комбинации с другими акциями или специальными предложениями.
				</p>
				<p>
					<span>11.</span> Fonbet имеет право изменить, отменить, возобновить или отказать в любой акции в любое время без предварительного предупреждения.
				</p>
				<p>
					<span>12.</span> Fonbet имеет право ограничить или отказать пользователям в возможности участвовать в той или иной акции.
				</p>
				<p>
					<span>13.</span> Бонус на первый депозит выдается на одну семью, одну локальную сеть, один IP-адрес, один компьютер или мобильное устройство. Бонусы (Фрибеты), начисленные за совершение действий с нарушением указанных в настоящем пункте условий (в том числе совершение депозита с одного и того же IP-адреса, компьютера или мобильного устройства разными клиентами), аннулируются.
				</p>
				<p>
					<span>14.</span> При необходимости пользователь обязан предоставить идентификационные документы для верификации (KYC). Если клиент не предоставит документы по запросу fonbet, то бонусное предложение и выигрыш аннулируются. Компания имеет право в любое время потребовать фото пользователя со своим документом или идентификацию по телефону.
				</p>
			</div>
			<footer class="modal-footer">
				<a href="https://www.fonbet.com/#!/products/registration?utm_content=LP-auto&utm_target=term-btn" class="btn--sm">Получить бонус</a>
			</footer>
		</section>
	</articel>
</main>
<!-- End modal -->

<script>
	$('.modal-header').on('click', function(){
		$('.modal-overlay').hide(0);
	});
	$('[data-toggle=modal]').on('click', function(){
		$('.modal-overlay').show(0);
	});

	$(".modal-overlay").click(function(event) {
		if (!$(event.target).closest(".modal").length) {
			$(this).hide();
		}
	});

// $(".modal-wrap").click(function(event) {
//   if (event.target === this) {
//     $(this).closest('.modal-overlay').hide();
//   }
// });
</script>

<style>
	.modal {
		background-color: #000;
		max-width: 760px;
		height: 640px;
		border-radius: 10px;
		margin: auto;
	}


	.modal-row {
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}

	.modal-wrap {
		width: 100%;
		height: 100%;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap
	}

	.modal-footer,.modal-header {
		padding: 5px 30px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		justify-content: center;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		text-transform: uppercase;
		max-height: 75px;
		height: 100%;
		position: relative
	}

	.modal-footer .btn--sm,.modal-footer h3,.modal-header .btn--sm,.modal-header h3 {
		font-weight: 100;
		letter-spacing: 3px
	}

	.modal-footer .btn--sm,.modal-header .btn--sm {
		width: auto
	}

	.modal-header {
		-webkit-box-shadow: 0 1px 0px 0 rgba(255,255,255,0.1);
		box-shadow: 0 1px 0px 0 rgba(255,255,255,0.1);
		margin: 0 auto;
	}

	.modal-close {
		display: block;
		cursor: pointer;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		font-weight: 100;
		font-size: 40px;
		padding: 0;
		z-index: 100501;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0;
		left: auto;
		right: 20px;
		margin: auto;
		bottom: 20px;
	}

	.modal-content {
		width: 90%;
		margin: 0 auto;
		height: calc(100% - 150px);
		overflow: hidden;
		overflow-y: scroll;
		font: 100 .9375rem/1.4 Montserrat,Calibri,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
	}
	.modal-content::-webkit-scrollbar { width: 10px; height: 10px; }
	.modal-content::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
	.modal-content::-webkit-scrollbar-thumb { background: #eb6009; }
	.modal-content p {
		opacity: 0.7;
		line-height: 2;
		letter-spacing: 2px;
		padding: 0 30px;
	}
	.modal-content p > span {
		color: #eb6009;
		font-weight: 600;
	}
	.modal-content p + p {
		margin-top: 20px;
	}
	.modal-overlay {
		position: fixed;
		z-index: 100501;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.3);
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		display: none
	}

	.table { border-collapse: collapse; width: 90%; margin-left: auto; margin-right: auto; }
	.table-wrap { max-width: 100%; margin: 20px auto; overflow: hidden; }
	@media only screen and (max-width: 480px) { 
	.modal-header h3 { letter-spacing: 0; }
	.table-wrap { overflow-x: scroll; } }
	.table td, .table th { padding: 5px 10px; font-weight: 300; text-align: left; letter-spacing: 1px; }
	.table td {text-align: center;}
	.table tr:nth-child(2n), .table thead > tr { background-color: rgba(255, 255, 255, 0.1); 
	}

</style>