<!-- BEGIN preloader -->
<div class='preloader'>
	<div class='preloader-dots'>
		<div class='dot'></div>
		<div class='dot'></div>
		<div class='dot'></div>
		<div class='dot'></div>
		<div class='dot'></div>
	</div>
</div>
<!-- END preloader --> 

<!-- BEGIN preloader -->
<script>
$(window).on('load', function () {
    var $preloader = $('.preloader'),
        $spinner   = $preloader.find('.preloader-dots');
    $spinner.fadeOut();
    $preloader.delay(350).fadeOut('slow');
});
</script>
<!-- END preloader --> 

<!-- Begin preloader -->
<style>
	.preloader {
  background: rgba(0, 0, 0, 0.95);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

.preloader-dots {
  height: 50px;
  width: 80px; }

.preloader-dots .dot {
  display: inline-block;
  background-color: #eb6009;
  height: 8px;
  width: 8px;
  opacity: 0.3;
  border-radius: 50%;
  -webkit-animation: moveit 1.8s infinite;
          animation: moveit 1.8s infinite; }

.dot:nth-child(2) {
  -webkit-animation-delay: .15s;
          animation-delay: .15s; }

.dot:nth-child(3) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s; }

.dot:nth-child(4) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s; }

.dot:nth-child(5) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s; }

@-webkit-keyframes moveit {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  35% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.3; }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0.8; }
  70% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    opacity: 0.8; }
  85% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); } }

@keyframes moveit {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  35% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.3; }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0.8; }
  70% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    opacity: 0.8; }
  85% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); } }
</style>
<!-- END preloader -->