.modal
	+theme(dark)
	max-width: 760px
	height: 640px
	border-radius: 10px
	overflow: hidden
	margin: auto
	&-row
		+flex(wrap, center, center, flex)
	&-wrap
		width: 100%
		height: 100%
		+flex(nowrap, center, center, flex)
	&-header, &-footer
		padding: 5px 30px
		+flex(nowrap, center, space-between, flex)
		text-transform: uppercase
		max-height: 75px
		height: 100%
		position: relative
		h3, .btn--sm
			font-weight: 100
			letter-spacing: 3px
		.btn--sm
			width: auto
	&-header
	    box-shadow: 0 1px 20px 0 $black2
	&-close
		display: block
		cursor: pointer
		transform: rotate(45deg)
		font-weight: 100
		font-size: 40px
		padding: 0
		z-index: 100501
		width: 20px
		height: 20px
		position: absolute
		top: 0
		left: auto
		right: 10px
		margin: auto
		bottom: 20px
	&-content
		padding: 30px
		height: calc(100% - 150px)
		overflow: hidden
		overflow-y: scroll
		@extend %scroll
		+font(15, 15*1.4, 100)
		letter-spacing: 1px
		ol
			padding-left: 30px
		li + li
			margin-top: 20px
	&-overlay
		position: fixed
		z-index: 100501
		width: 100%
		height: 100%
		background-color: rgba($black, 0.3)
		+flex(nowrap, center, center, flex)
		display: none