@import 'row'
[class*="text"]
	text-transform: uppercase
hgroup
	width: 100%
	position: relative
	margin: 30px auto 20px
	z-index: 1
	@media only screen and (max-width: 750px)
		order: 0

.text
	&--0, &--1, &--2
		text-align: center
		text-transform: uppercase
	&--0
		color: $white
		+font(22, 22, 900)
		font-style: italic
		text-shadow: $tsd
		margin: 3vmax auto 15px
		width: 90%
		display: block
	&--1
		color: $main
		+font(24, 24, 700)
		margin: 5px  10px
		padding: 10px 20px
		display: inline-block
		background-color: $black
	&--2
		+font(28, 28, 700)	
		display: block
		color: $main
	&--3
		margin-bottom: 0
	&--4
		color: $white
		font-style: italic
		font-size: 4vmax
		font-weight: 900
		line-height: 1
		letter-spacing: 1px
		text-shadow: $tsd
		margin: 15px auto 0
		b
			text-shadow: $tsd2
		span
			color: $main
		@media only screen and(max-width: 480px)
			font-size: 60px
	&--5
		letter-spacing: 1px
		font-weight: 900
		font-style: italic
		font-size: 1.9vmax
		text-shadow: $tsd
		opacity: 0.3
		margin-bottom: 15px
		@media only screen and(max-width: 480px)
			font-size: 5vmax
	&--6
		+font(16, 16, 900)
		font-style: italic
		text-transform: uppercase
		text-decoration: $tsd
		letter-spacing: 1px
		display: inline-block
		vertical-align: middle
		&:first-letter
			text-transform: uppercase
	&--7
		+font(18, 18, 400)
		font-size: 18px
		letter-spacing: 1px
		white-space: nowrap
		@extend .row--4
		span
			color: $main
			font-weight: 800
	&--9
		color: $main
	&--8, &--9
		display: block
		font-size: 24px
		font-weight: 900
	&--policy
		+font(10.4, 10.4, 400)
		letter-spacing: 2px
		text-decoration: underline
		cursor: pointer
		width: 100%
		margin: 0 auto 30px
		@media only screen and (max-width: 750px)
			margin-bottom: 50px

