//@import 'animation'
@import 'fonts'
@import 'vars'
@import 'text'
@import 'btn'



%scroll	
	&::-webkit-scrollbar
		width: 10px
		height: 10px
	&::-webkit-scrollbar-track
		-webkit-box-shadow: inset 0 0 6px rgba($black, 0.3)
	&::-webkit-scrollbar-thumb
		background: $main

*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: $ffMain, $ffBack
	user-select: none
	&::selection
		background-color: $main
		color: $white
body
	+theme(dark)
	display: flex
	flex-direction: column
	min-height: 100vh
	position: relative
	overflow: hidden
	overflow-y: scroll
	@extend %scroll

a, a:hover
	color: inherit
	text-decoration: none

section
	position: relative
	z-index: 1

.page
	&-bg, &-bg > img
		+ps(absolute, 0, 0, auto)
		width: 100%
		height: 100%
		background-size: cover
		background-position: 50%
		filter: contrast(1.2) 
		background-position: 50% 100%
		background-attachment: fixed
	&-bg > img
		display: block
		object-fit: cover
	&-logo 
		margin: 10px auto 5px
		height: 48px
		width: auto
		object-fit: contain
		display: block
	&-content
		+flex(wrap, center, center, flex)
		flex: 1 0 auto
		position: relative
		color: $white
		//background-image: url("../img/bg.jpg")
		// background-repeat: no-repeat
		// background-size: cover
		// background-position: 50% 100%
		text-align: center
		overflow: hidden
		&::after
			content: ""
			+ps(absolute, 0, 0, auto)
			width: 100%
			height: 100%
			background: rgba($black, 0) url("../img/bg0.png") no-repeat 50%/cover

	&-container
		margin-left: auto
		margin-right: auto
		z-index: 1
		position: relative
	&-footer
		padding: 15px 20px
		z-index: 1
		background-color: $black
		&__container
			+flex(wrap, center, center, flex)
	&-row
		+flex(wrap, center, center, flex)
		&:first-child
			margin-top: auto
	&-box
		background: linear-gradient(180deg,rgba($black,.75) 0,rgba($black,.95) 50%)
		box-shadow: 0 5px 20px 0 rgba($black, 0.8)
		border-radius: 5px
		border-top: 2px solid $main
		transition: all 0.4s ease-in-out
		transform: skew(-10deg)
		margin: 40px auto 20px
		width: 100%
		@media only screen and (max-width: 480px)
			&, &__inner
				transform: none
			
		&__inner
			padding: 20px 
			transform: skew(10deg)
			+flex(wrap, center, center, flex)
			@media only screen and (max-width: 980px)
				.page-col:nth-child(2)
					order: 2

	&-col
		z-index: 1
		@media only screen and (max-width: 750px)
			max-width: 100%
		@media only screen and (max-width: 480px)
			& > div
				margin: 30px auto

figure
	color: $white
	cursor: pointer
	width: 250px
	height: 100%
	display: block
	margin: 15px auto
	&:hover
		box-shadow: none
	img
		display: block
		margin: 0px auto 
		padding: 10px
		max-width: 120px

#team1, #team2, #teamLogo1, #teamLogo2
	max-width: 180px
	animation: anm 1s ease-in-out infinite alternate
#team2, #teamLogo2
	animation-direction: alternate-reverse	

.steps
	+flex(wrap, center, center, flex)
	margin: 5px 30px
	@media only screen and (max-width: 480px)
		margin-top: 30px

.currency
	+flex(nowrap, center, center, flex)
	margin: 15px auto 0
	font-size: 14px
	b
		opacity: 0.6
		font-weight: 400
		display: block
	span
		display: inline-block
		background-color: $main
		color: $white
