// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$i1-name: 'i1'
$i1-x: 0px
$i1-y: 27px
$i1-offset-x: 0px
$i1-offset-y: -27px
$i1-width: 54px
$i1-height: 33px
$i1-total-width: 70px
$i1-total-height: 178px
$i1-image: '../img/sprite.png'
$i1: (0px, 27px, 0px, -27px, 54px, 33px, 70px, 178px, '../img/sprite.png', 'i1', )
$i2-name: 'i2'
$i2-x: 0px
$i2-y: 0px
$i2-offset-x: 0px
$i2-offset-y: 0px
$i2-width: 70px
$i2-height: 22px
$i2-total-width: 70px
$i2-total-height: 178px
$i2-image: '../img/sprite.png'
$i2: (0px, 0px, 0px, 0px, 70px, 22px, 70px, 178px, '../img/sprite.png', 'i2', )
$i3-name: 'i3'
$i3-x: 0px
$i3-y: 65px
$i3-offset-x: 0px
$i3-offset-y: -65px
$i3-width: 28px
$i3-height: 34px
$i3-total-width: 70px
$i3-total-height: 178px
$i3-image: '../img/sprite.png'
$i3: (0px, 65px, 0px, -65px, 28px, 34px, 70px, 178px, '../img/sprite.png', 'i3', )
$i4-name: 'i4'
$i4-x: 0px
$i4-y: 143px
$i4-offset-x: 0px
$i4-offset-y: -143px
$i4-width: 30px
$i4-height: 35px
$i4-total-width: 70px
$i4-total-height: 178px
$i4-image: '../img/sprite.png'
$i4: (0px, 143px, 0px, -143px, 30px, 35px, 70px, 178px, '../img/sprite.png', 'i4', )
$i5-name: 'i5'
$i5-x: 0px
$i5-y: 104px
$i5-offset-x: 0px
$i5-offset-y: -104px
$i5-width: 34px
$i5-height: 34px
$i5-total-width: 70px
$i5-total-height: 178px
$i5-image: '../img/sprite.png'
$i5: (0px, 104px, 0px, -104px, 34px, 34px, 70px, 178px, '../img/sprite.png', 'i5', )
$spritesheet-width: 70px
$spritesheet-height: 178px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($i1, $i2, $i3, $i4, $i5, )
$spritesheet: (70px, 178px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
