$white: #fff
$black: #000
$black2: #2f2f2f
//$main: #eb6009
$main: #f64102
$orange: #dd682a
$blue: #176fc1
$tsd: 0 2px 4px rgba(5,1,16,.69)
$tsd2: 0 0 16px $main

\:root 
	--fz: 16px

$FA: 'FontAwesome'
$ffMain: 'Montserrat'
$ffBack: Calibri, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"


=font($fz, $lh: 1.2, $fw: 400, $ff: $ffMain)
	$lh: $lh/$fz
	$fz: $fz/16 + rem
	$ff: $ff, $ffBack
	font: $fw $fz +/$lh $ff 

=ps($ps, $t, $l, $m: initial)
	position: $ps
	top: $t
	left: $l
	margin: $m
	
=flex($fxw, $ai, $jc, $fx: flex)
	display: $fx
	align-items: $ai
	justify-content: $jc
	flex-wrap: $fxw

=theme($theme)
	@if $theme == dark
		color: $white
		background-color: $black
	@if $theme == light
		color: $black
		background-color: $white
	
