<!-- Begin Footer -->
<footer class="page-footer">
	<div class="page-footer__container">
		<div class="icon-wrap">
			<div class="icon--1 fadeIn" data-wow-delay="4000ms"></div>
			<div class="icon--2 fadeIn" data-wow-delay="4200ms"></div>
		</div>
		<div class="steps">
			<div class="page-col">
				<p class="text--7 fadeIn" data-wow-delay="4400ms">
					<b>1.</b>  <span id="t1">Зарегистрируйся</span>
				</p>
			</div>
			<span class="icon"></span>
			<div class="page-col">
				<p class="text--7 fadeIn" data-wow-delay="4600ms">
					<b>2.</b>  <span id="t2">Внеси депозит</span>
				</p>
			</div>
			<span class="icon"></span>
			<div class="page-col">
				<p class="text--7 fadeIn" data-wow-delay="4800ms">
					<b>3.</b> <span id="t3">Получи бонус</span>
				</p>
			</div>
		</div>
		<div class="icon-wrap">
			<a class="icon--3 fadeIn" href="https://www.fonbet.com/#!/apps/ios?utm_content=LP_auto&utm_target=icon-app" target="_blank" rel="noopener noreferrer" data-wow-delay="5000ms"></a>
			<a class="icon--4 fadeIn" href="https://www.fonbet.com/#!/apps/android?utm_content=LP_auto&utm_target=icon-app" target="_blank" rel="noopener noreferrer" data-wow-delay="5200ms"></a>
			<div class="icon--5 fadeIn" data-wow-delay="5400ms"></div>
		</div>
	</div>
</footer>
<!-- End Footer -->
</body>
</html>