@@include('_header.html')
<script src="./assets/lib/jquery.min.js"></script>

@@include('_preloader.html')
<div class="page-bg" id="pg-bg" style="background-size: 48vmin, 58vmin, cover;
    background-position: 15vmax 100%,58vmax 40%,50% 0; background-image: url('./assets/img/man1.png'), url('./assets/img/man2.png'), url('./assets/img/bg.jpg');"></div> 
<main class="page-content">
	<div>
		<section class="row--1">
			<a href="/#!/products/registration?utm_content=LP-auto&utm_target=logo" target="_blank" rel="noopener noreferrer"><img src="./assets/img/logo.png" alt="Fonbet" class="page-logo fadeInDown" data-wow-delay="200ms"></a>
			<p class="text--3 wow fadeInUp" data-wow-delay="400ms" id="t4">
				ПОБЕДА В ТВОИХ РУКАХ!
			</p>
			
		</section>

		<section class="page-row"> <div>
 				<p class="text--5 fadeInDown" data-wow-delay="600ms" id="t8"> за 1й депозит</p>
			 <p class="text--4 zoomIn" data-wow-delay="800ms"> <b id="t7">БОНУC</b> <span>€50</span> </p>

				<a href="/#!/products/registration?utm_content=LP-auto&utm_target=btn" class="btn--bg shine fadeInUp" data-wow-delay="1000ms" id="t5">
					Сделать ставку
				</a>

				<p rel="modal" data-toggle="modal" class="text--policy fadeInUp" data-wow-delay="1200ms" id="t6">
					правила и условия
				</p>
			</div>
		</section>

		

		<article class="page-box wow fadeIn" data-wow-delay="1500ms">
		
			<div class="page-box__inner">
				<section class="page-col">
					<figure id="teamLogo2">
						<figcaption><span data-content="TEAM2" class="text--6 wow fadeInLeft" data-wow-delay="1600ms"></span>
						</figcaption>
						<img data-content="LOGO2" class="box-pix wow fadeInLeft" data-wow-delay="1800ms" src="../assets/img/ball.png">
					</figure>
				</section>
				<section class="page-col">
					<div>
						<span class="text--9 wow heartBeat" data-content="STARTTIME" data-wow-delay="3600ms"></span> <!-- <span class="text--8 wow heartBeat" data-content="STARTDATE" data-wow-delay="3800ms"></span> -->
						<div class="currency">
							<div>
								<span data-content="QUOTE1" class="text--1 wow fadeInUp" data-wow-delay="2400ms"></span>
								<b class="wow fadeIn" data-wow-delay="2600ms">П1</b>
							</div> 
							<div>
								<span data-content="QUOTEX" class="text--1 wow fadeInUp" data-wow-delay="2800ms"></span>
								<b class="wow fadeIn" data-wow-delay="3000ms">x</b>
							</div> 
							<div>
								<span data-content="QUOTE2" class="text--1 wow fadeInUp" data-wow-delay="3200ms"></span>
								<b class="wow fadeIn" data-wow-delay="3400ms">П2</b>
							</div>
						</div>
					</div> 
				</section> 
				<section class="page-col"> 
					<figure id="teamLogo1">  
						<figcaption><span  data-content="TEAM1"
							class="text--6 wow fadeInRight" data-wow-delay="1600ms"></span> </figcaption> 
						<img data-content="LOGO1" class="box-pix wow fadeInRight" data-wow-delay="1800ms" src="../assets/img/ball.png"> 
					</figure>
					</section> 
				</div>
			
		</article>
	
		<hgroup>
			<span class="text--0 wow fadeInUp" data-content="EVENT" data-wow-delay="1400ms"></span>
		</hgroup>
	</div>
</main>
@@include('_particles.html')
@@include('_modal.html')

<script src="./assets/lib/promos.js"></script>

<script>
	if( navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i) ) {

		[...document.querySelectorAll('a')].forEach(a => {
			a.href = "/mobile/register/";
		})

	};

	[...document.querySelectorAll('a')].forEach(a => {if (a.hash) { a.hash += location.search; } else { a.search = location.search } }); 
	
</script>
<script src="./assets/lib/jquery.MultiLanguage.min.js"></script>
<script src="./assets/js/_lang.js"></script>


<script src="./assets/lib/wow.min.js"></script>
<link rel="stylesheet" href="./assets/lib/animate.min.css">

<script>
	var wow = new WOW(
	{
		boxClass:     'wow',      
		animateClass: 'animated', 
		offset:       0,          
		mobile:       false,      
		live:         true,       
		callback:     function(box) {
		},
		scrollContainer: null,   
		resetAnimation: true,   
	}
	);
	wow.init();
</script>
<script>
	
	const userLang = navigator.language || navigator.userLanguage;
	if (/^(ru|uk|kz)[_-]?/i.test(userLang)){
	load('ru', '11918');
} else {
load('eng', '11918');
}
</script>

@@include('_footer.html')