.row
	&--0
		margin-top: 5px
	&--1
		margin-bottom: 50px
	&--3
		margin-top: 25px
		margin-bottom: 15px
	&--2
		margin-top: -12vmax !important
	&--5
		margin-top: -5vmax
	&--6
		margin-bottom: 10vmin
		padding-bottom: 30px
	&--7
		margin-left: 10%
	&--8
		margin-bottom: -10%
		margin-top: 20%