@import 'row'
[class*="text"]
	text-transform: uppercase
hgroup
	width: 100%
	position: relative
	margin: 15px auto 20px
	z-index: 1
	@media only screen and (max-width: 750px)
		order: 0

.text
	&--0, &--1, &--2
		text-align: center
		text-transform: uppercase
	&--0
		color: $white
		+font(18, 18, 900)
		text-shadow: $tsd
		margin: 0 auto 0
		width: 90%
		display: block
		opacity: 0.3
		font-size: 16px
		max-width: 450px
	&--1
		color: $main
		+font(20, 20, 100)
		margin: 5px  10px
		padding: 10px 20px
		display: inline-block
		background-color: $black
	&--2
		+font(28, 28, 700)	
		display: block
		color: $main
	&--3
		margin-bottom: 0
	&--4
		color: $white
		font-size: calc(28px + 3vmax)
		font-weight: 900
		line-height: 1
		letter-spacing: 1px
		&:first-letter
			text-transform: uppercase
		// b
		// 	text-transform: lowercase
		span
			color: $main
		@media only screen and(max-width: 480px)
			font-size: 60px
	&--5
		letter-spacing: 0px
		line-height: 1
		font-weight: 900
		font-size: 24px
		text-shadow: $tsd
		opacity: 0.3
		@media only screen and(max-width: 480px)
			font-size: 24px
	&--6
		+font(12, 12, 100)
		text-transform: uppercase
		text-shadow: $tsd
		letter-spacing: 1px
		display: inline-block
		vertical-align: middle
		&:first-letter
			text-transform: uppercase
	&--7
		+font(14, 14, 400)
		letter-spacing: 1px
		white-space: nowrap
		margin: 5px 10px
		b
			color: $main
			font-weight: 800
	&--9
		color: $main
	&--8, &--9
		display: block
		font-size: 24px
		font-weight: 900
	&--policy
		+font(10.4, 10.4, 400)
		letter-spacing: 2px
		text-decoration: underline
		cursor: pointer
		width: 100%
		

