//@import 'animation'
@import 'fonts'
@import 'vars'
@import 'text'
@import 'btn'


%scroll	
	&::-webkit-scrollbar
		width: 10px
		height: 10px
	&::-webkit-scrollbar-track
		-webkit-box-shadow: inset 0 0 6px rgba($black, 0.3)
	&::-webkit-scrollbar-thumb
		background: $main

*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: $ffMain, $ffBack
	user-select: none
	&::selection
		background-color: $main
		color: $white
body
	+theme(dark)
	display: flex
	flex-direction: column
	min-height: 100vh
	position: relative
	overflow: hidden
	overflow-y: scroll
	@extend %scroll

a, a:hover
	color: inherit
	text-decoration: none

section
	position: relative
	z-index: 1

.page
	&-bg
		background-color: #010624
		&::after
			content: ""
			+ps(absolute, 0, 0, auto)
			width: 100%
			height: 100%
			background: rgba($black, 0.2) url("../img/bg0.png") no-repeat 50%/cover
	&-bg
		+ps(absolute, 0, 0, auto)
		width: 100%
		height: 100%
		filter: contrast(1.2)
		background-repeat: no-repeat
		@media only screen and (max-width: 1400px)
			background-image: url('../img/bg.jpg')
			background-size: cover
			background-position: 50% 100%
			
	&-bg > img
		display: block
		object-fit: cover
	&-logo 
		margin: 10px auto 5px
		height: 48px
		width: auto
		object-fit: contain
		display: block
	&-content
		+flex(wrap, center, center, flex)
		flex: 1 0 auto
		position: relative
		color: $white
		//background-image: url("../img/bg.jpg")
		// background-repeat: no-repeat
		// background-size: cover
		// background-position: 50% 100%
		text-align: center
		overflow: hidden
		

	&-container
		margin-left: auto
		margin-right: auto
		z-index: 1
		position: relative
	&-footer
		padding: 15px 20px
		z-index: 1
		background-color: transparent
		&__container
			+flex(wrap, center, center, flex)
	&-row
		+flex(wrap, center, center, flex)
		&:first-child
			margin-top: auto
	&-box
		background: var(--curBoxBg)
		box-shadow: var(--curBoxSd)
		border-radius: 5px
		transition: all 0.4s ease-in-out
		margin: 20px auto 20px
		width: 100%
		
		@media only screen and (max-width: 480px)
			&, &:hover, &__inner
					transform: 	none
		&__inner
			padding: 20px 
			+flex(wrap, center, center, flex)
			
			@media only screen and (max-width: 980px)
				.page-col:nth-child(2)
					order: 2
	&-col
		z-index: 1
		@media only screen and (max-width: 750px)
			max-width: 100%
		@media only screen and (max-width: 480px)
				& > div
					margin: 30px auto	

figure
	color: $white
	cursor: pointer
	width: 120px
	height: 100%
	display: block
	margin: 15px auto
	&:hover
		box-shadow: none
	img
		display: block
		margin: 5px auto 
		padding: 10px
		max-width: 100px


#team1, #team2, #teamLogo1, #teamLogo2
	max-width: 180px
	animation: anm 1s ease-in-out infinite alternate
#team2, #teamLogo2
	animation-direction: alternate-reverse	

.steps
	+flex(wrap, center, center, flex)
	margin: 15px 30px 5px
	@media only screen and (max-width: 480px)
		margin-top: 30px	
.currency
	+flex(nowrap, center, center, flex)
	margin: 15px auto 0
	font-size: 10px
	b
		opacity: 0.6
		font-weight: 400
		display: block
	span
		display: inline-block
		background: var(--curBg)
		color: $white
