@@include('_header.html')
<script src="./assets/lib/jquery.min.js"></script>
@@include('_preloader.html')
<div class="page-bg" id="pg-bg" style="background-image: url('./assets/img/bg5.jpg')"></div> 
<main class="page-content">
	<div>
		<section>
			<a href="https://www.fonbet.com/#!/products/registration?utm_content=LP-auto&utm_target=logo" target="_blank" rel="noopener noreferrer"><img src="./assets/img/logo.png" alt="" class="page-logo"></a>
			<p class="text--3">
				Победа в твоих руках!
			</p>
			<hgroup>
				<span class="text--0">
					ЛИВЕРПУЛЬ - АРСЕНАЛ
				</span>
			</hgroup>
		</section>
		<article class="page-box">
			<div class="page-box__inner">
				<section class="page-col">
					<figure id="teamLogo2">
						<img class="box-pix" src="./assets/img/logo1.png">
						<figcaption><span class="text--6">АРСЕНАЛ </span>
						</figcaption>
					</figure>
				</section>
				<section class="page-col">
					<div>
						<p class="text--9">19:30</p>
						<p class="text--8">24 августа</p>
					</div> 
					<div> 
						<a href="https://www.fonbet.com/#!/products/registration?utm_content=LP-auto&utm_target=btn" class="btn--bg shine">
							<b>Сделать ставку</b>
						</a>

						<p rel="modal" data-toggle="modal" class="text--policy">
							правила и условия
						</p>
					</div>
				</section> 
				<section class="page-col"> 
					<figure id="teamLogo1"> <img
						class="box-pix" src="./assets/img/logo2.png"><figcaption><span class="text--6">ЛИВЕРПУЛЬ</span> </figcaption> 
					</figure> 
				</section> 
			</div>
		</article>
		<section
		class="page-row"> 
	</section>
</div>
</main>
@@include('_particles.html')
@@include('_modal.html')
@@include('_footer.html')
<script src="./assets/js/autolands.js"></script>